#
# Config sample file: https://github.com/newrelic/nri-elasticsearch/blob/master/elasticsearch-config.yml.sample
# Config description: https://docs.newrelic.com/install/elastic/#instance-settings
#
integrations:
- name: nri-elasticsearch
  env:
    CLUSTER_ENVIRONMENT: {{ nrinfr_integ_elasticsearch_env }}
    CONFIG_PATH: {{ nrinfr_integ_elasticsearch_config_path }}

    HOSTNAME: {{ nrinfr_integ_elasticsearch_hostname }}
#    LOCAL_HOSTNAME: <(Optional) Hostname or IP of the Elasticsearch node from which to collect inventory data. (default "localhost"). Should only be set if you do not wish to collect inventory data against localhost>
    PORT: {{ nrinfr_integ_elasticsearch_port }}

    USERNAME: {{ nrinfr_integ_elasticsearch_username }}
    PASSWORD: {{ nrinfr_integ_elasticsearch_password }}

    TIMEOUT: {{ nrinfr_integ_elasticsearch_timeout }}

#    USE_SSL: <(Optional) true or false to use SSL. If true Certificate bundle must be supplied. (default false)>
#    CA_BUNDLE_DIR: <(Optional) Required if use_ssl is true. Directory for certificate authority bundle, must be included if use_ssl is true>
#    CA_BUNDLE_FILE: <(Optional) Required if use_ssl is true. File for certificate authority bundle, must be included if use_ssl is true>

#    INDICES_REGEX: <(Optional) Can be used to filter which indicies are collected. If left blank it will be ignored>
#    COLLECT_INDICES: <(Optional) true or false to collect indices metrics. If true collect indices, else do not. (default true)>
#    COLLECT_PRIMARIES: <(Optional) true or false to collect primaries metrics. If true collect primaries, else do not. (default true)>
#    MASTER_ONLY: <(Optional) If true metrics will only be collected if the node is an elected master (default false)>

  interval: 15s
  labels:
    environment: {{ nrinfr_integ_elasticsearch_env }}
    role: {{ nrinfr_integ_elasticsearch_role }}
  inventory_source: config/elasticsearch