#
# Config sample file: https://github.com/newrelic/nri-mysql/blob/master/mysql-config.yml.sample
# Config description: https://docs.newrelic.com/install/mysql/#config
#
integrations:
- name: nri-mysql
  env:
    HOSTNAME: {{ nrinfr_integ_mysql_hostname }}
    PORT: {{ nrinfr_integ_mysql_port }}
    # ENABLE_TLS: false
    # INSECURE_SKIP_VERIFY: false
    # Specify extra connection parameters as attr1=val1&attr2=val2.
    # EXTRA_CONNECTION_URL_ARGS: ""

    # If not empty `socket` parameter will discard `port` parameter
    SOCKET: {{ nrinfr_integ_mysql_socket }}

    USERNAME: {{ nrinfr_integ_mysql_username }}
    PASSWORD: "{{ nrinfr_integ_mysql_password }}"
    # Allow old password https://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html#sysvar_old_passwords
    # OLD_PASSWORDS: false

    # Name of the database to be monitored
    {% if nrinfr_integ_mysql_database|length > 0 %}
    DATABASE: "{{ nrinfr_integ_mysql_database }}"
    {% endif %}

    # Enable extended metrics
    EXTENDED_METRICS: {{ nrinfr_integ_mysql_extended_metrics }}

    # Enable additional metrics
    EXTENDED_INNODB_METRICS: {{ nrinfr_integ_mysql_extended_innodb_metrics }}
    EXTENDED_MY_ISAM_METRICS: {{ nrinfr_integ_mysql_extended_myisam_metrics }}

    # New users should leave this property as `true`, to identify the
    # monitored entities as `remote`. Setting this property to `false` (the
    # default value) is deprecated and will be removed soon, disallowing
    # entities that are identified as `local`.
    # Please check the documentation to get more information about local
    # versus remote entities:
    # https://github.com/newrelic/infra-integrations-sdk/blob/master/docs/entity-definition.md
    REMOTE_MONITORING: {{ nrinfr_integ_mysql_remote_monitoring }}
  interval: 30s
  labels:
    environment: {{ nrinfr_integ_mysql_env }}
    role: {{ nrinfr_integ_mysql_role }}
  inventory_source: config/mysql