#
# Config sample file: https://github.com/newrelic/nri-nginx/blob/master/nginx-config.yml.sample
# Config description: https://docs.newrelic.com/install/nginx/#instance-settings
#
integrations:
    - name: nri-nginx
      env:
          METRICS: "true"
          # If you're using ngx_http_api_module be certain to use the full path up to and including the version number
          STATUS_URL: "{{ nrinfr_integ_nginx_status_url }}"
          # Name of Nginx status module OHI is to query against. discover | ngx_http_stub_status_module | ngx_http_status_module | ngx_http_api_module
          STATUS_MODULE: discover

          # New users should leave this property as `true`, to identify the
          # monitored entities as `remote`. Setting this property to `false` (the
          # default value) is deprecated and will be removed soon, disallowing
          # entities that are identified as `local`.
          # Please check the documentation to get more information about local
          # versus remote entities:
          # https://github.com/newrelic/infra-integrations-sdk/blob/master/docs/entity-definition.md
          REMOTE_MONITORING: true

          # validate_certs is true by default, to avoid certificate validation connecting to a HTTPS status URL set it to false 
          # VALIDATE_CERTS: true 
      interval: 30s
      labels:
          env: {{ nrinfr_integ_nginx_env }}
          role: {{ nrinfr_integ_nginx_role }}

    - name: nri-nginx
      env:
          INVENTORY: "true"
          CONFIG_PATH: "{{ nrinfr_integ_nginx_config_path }}"

          # New users should leave this property as `true`, to identify the
          # monitored entities as `remote`. Setting this property to `false` (the
          # default value) is deprecated and will be removed soon, disallowing
          # entities that are identified as `local`.
          # Please check the documentation to get more information about local
          # versus remote entities:
          # https://github.com/newrelic/infra-integrations-sdk/blob/master/docs/entity-definition.md
          REMOTE_MONITORING: true #new users should leave remote_monitoring = true
          # status_url is used to identify the monitored entity to which the inventory will be attached.
          STATUS_URL: "{{ nrinfr_integ_nginx_status_url }}"
      interval: 60s
      labels:
          env: {{ nrinfr_integ_nginx_env }}
          role: {{ nrinfr_integ_nginx_role }}
      inventory_source: config/nginx
