#
# Config sample file: https://github.com/newrelic/nri-rabbitmq/blob/master/rabbitmq-config.yml.sample
# Config description: https://docs.newrelic.com/install/rabbitmq/#instance-settings
#
integrations:
  - name: nri-rabbitmq
    env:
      HOSTNAME: "{{ nrinfr_integ_rabbitmq_hostname }}"
      PORT: {{ nrinfr_integ_rabbitmq_port }}
      USERNAME: "{{ nrinfr_integ_rabbitmq_username }}"
      PASSWORD: "{{ nrinfr_integ_rabbitmq_password }}"
      MANAGEMENT_PATH_PREFIX: "{{ nrinfr_integ_rabbitmq_management_path_prefix }}"
      USE_SSL: false
      CONFIG_PATH: "{{ nrinfr_integ_rabbitmq_config_path }}"
      QUEUES: '{{ nrinfr_integ_rabbitmq_queues }}'
    interval: 15s
    labels:
      env: {{ nrinfr_integ_rabbitmq_env }}
      role: {{ nrinfr_integ_rabbitmq_role }}
    inventory_source: config/rabbitmq
