#
# Config sample file: https://github.com/newrelic/nri-redis/blob/master/redis-config.yml.sample
# Config description: https://docs.newrelic.com/docs/infrastructure/host-integrations/host-integrations-list/redis/redis-integration/#instance-settings
#
integrations:
  - name: nri-redis
    env:
      METRICS: true
      HOSTNAME: {{ nrinfr_integ_redis_hostname }}
      PORT: {{ nrinfr_integ_redis_port }}
      PASSWORD: "{{ nrinfr_integ_redis_password }}"
      REMOTE_MONITORING: {{ nrinfr_integ_redis_remote_monitoring }}
    interval: 15s
    labels:
      environment: {{ nrinfr_integ_redis_env }}
      role: {{ nrinfr_integ_redis_role }}

  - name: nri-redis
    env:
      INVENTORY: true
      HOSTNAME: {{ nrinfr_integ_redis_hostname }}
      PORT: {{ nrinfr_integ_redis_port }}
      PASSWORD: "{{ nrinfr_integ_redis_password }}"
      REMOTE_MONITORING: {{ nrinfr_integ_redis_remote_monitoring }}
    inventory_source: config/redis
    interval: 60s
    labels:
      environment: {{ nrinfr_integ_redis_env }}
      role: {{ nrinfr_integ_redis_role }}