#
# Config sample file: https://github.com/newrelic/nri-varnish/blob/master/varnish-config.yml.sample
# Config description: https://docs.newrelic.com/docs/infrastructure/host-integrations/host-integrations-list/varnish-cache-monitoring-integration/#config
#
integrations:
  - name: nri-varnish
    env:
      INSTANCE_NAME: "{{ nrinfr_integ_varnish_instance_name }}"
      PARAMS_CONFIG_FILE: "{{ nrinfr_integ_varnish_params_config_file }}"
    interval: 15s
    labels:
      env: {{ nrinfr_integ_varnish_env }}
      role: {{ nrinfr_integ_varnish_role }}
    inventory_source: config/varnish
